.App {
  text-align: center;
}


.container {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-rows: 6fr 1fr;
  grid-template-columns: 1fr 4fr;
  width: 100vw;
  height: 80vh;

}

.MuiCardMedia-root.makeStyles-media-100 {
  height: 234px;

}

.MuiBox-root.MuiBox-root-97 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-image: url('../Assets/verynewbackground.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; 


}

.MuiBox-root.MuiBox-root-98 {
  
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
}

.MuiBox-root.MuiBox-root-130 {
  
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}


.MuiPaper-root.MuiPaper-elevation1 {
  background-color: #eeeeee38;
}

@media screen and (max-width: 600px) {
  .MuiBox-root.MuiBox-root-169 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1025px) 
and (max-width: 1700px) {
  .MuiBox-root.MuiBox-root-169 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .MuiBox-root.MuiBox-root-169 {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.MuiBox-root.jss97 {
  padding: 0px;
}



span.MuiTab-wrapper {
  color: white;

}

a {
  text-decoration: none;
}

.MuiBox-root.MuiBox-root-131{
  padding: 0px;
}

.MuiBox-root.MuiBox-root-132{
  background-color: #73c7c9;
  height: 100vh;

}

.MuiBox-root.MuiBox-root-99 {
  padding: 0px;
}

.MuiBox-root.jss132 {
  padding: 30px 0px;
  background-color: #73c7c9;

}