
h3 {
  color: #d9eeec;
  font-family: 'Alegreya Sans', sans-serif;

}
h1 {
  color: #d9eeec;
  font-family: 'M PLUS 1p', sans-serif;


}

p {
color: #d9eeec;

}

@media screen and (min-width: 1025px) 
and (max-width: 1700px) {
  svg {
      width: 60px;
      align-self: center;
      justify-self: center;

  } 
  .homeContainer {
    background-image: url('../Assets/newbackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
    text-align: center;
    height: 96vh;
    width: 100vw
  }

  .animate1 {
    padding-right: 264px
  }
  .animate2 {
    padding-right: 312px
  }
  .animate3 {
    padding-right: 367px
  }
}

@media only screen and (min-width: 601px)
and (max-width: 1024px) {
  svg {
      width: 60px;
      align-self: center;
      justify-self: center;

  } 
  h3 {
    font-size: small;
  }
 
  
  p {
    font-size: small;
  }
  .homeContainer {
    background-image: url('../Assets/newbackgroundipad.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
    text-align: center;
    height: 88vh;
    width: 100vw
  }
.animation {
  margin-top: 488px;
}
.animate1 {
  padding-right: auto;
  display: inline;
}
.animate2 {
  padding-right: auto;
  display: inline;

}
.animate3 {
  padding-right: auto;
  display: inline;

}
}


@media screen and (max-width: 600px) {
    svg {
        width: 30px;
        align-self: center;
        justify-self: center;
    } 
    h3 {
      font-size: small;
    }
   
    
    p {
      font-size: small;
    }
    .homeContainer {
      background-image: url('../Assets/newbackgroundiphonex.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 50%; 
      text-align: center;
      height: 77vh;
      width: 100vw
  }
  .animation {
    margin-top: 150px;
  }
  .animate1 {
    padding-right: auto;
    display: inline;
  }
  .animate2 {
    padding-right: auto;
    display: inline;
  
  }
  .animate3 {
    padding-right: auto;
    display: inline;
  
  }
}





h4 {
    color: #d9eeec;
}
h1 {
    color: #d9eeec;
}

p {
  color: #d9eeec;
}

svg #flower6 {
    animation: rotation 1s infinite linear;
    transform-origin: 736px 353px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  svg #flower3 {
    animation: rotation 1s infinite linear;
    transform-origin: 518px 733px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } 

  svg #flower4 {
    animation: rotation 1s infinite linear;
    transform-origin: 541px 596px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } 
  svg #flower7 {
    animation: rotation 1s infinite linear;
    transform-origin: 467px 143px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  svg #flower8 {
    animation: rotation 1s infinite linear;
    transform-origin: 248px 561px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  svg #flower9 {
    animation: rotation 1s infinite linear;
    transform-origin: 703px 673px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  svg #flower10 {
    animation: rotation 1s infinite linear;
    transform-origin: 434px 307px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  svg #flower11 {
    animation: rotation 1s infinite linear;
    transform-origin: 207px 165px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

