@media screen and (max-width: 600px) {
    svg {
        width: 50px;
        align-self: center;
        justify-self: center;
    } 
}

@media only screen and (max-width: 1024px) {
    svg {
        width: 200px;
        align-self: center;
        justify-self: center;

    } 
}

@media screen and (min-width: 1024px) 
and (max-width: 1700px) {
  svg {
      width: 300px;
      align-self: center;
      justify-self: center;

  } 
}

.homeContainer {
    background-color: transparent;
    display: grid;
    text-align: center;
    height: 70vh;
    margin: 0px 10px 0px 10px;
}
h4 {
    color: #f5f5f5;
}
h1 {
    color: #f5f5f5;
}



svg:hover #flower6 {
    animation: rotation 1s 3 linear;
    transform-origin: 736px 353px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  svg:hover #flower3 {
    animation: rotation 1s 3 linear;
    transform-origin: 518px 733px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } 

  svg:hover #flower4 {
    animation: rotation 1s 3 linear;
    transform-origin: 541px 596px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  } 
  svg:hover #flower7 {
    animation: rotation 1s 3 linear;
    transform-origin: 467px 143px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  svg:hover #flower8 {
    animation: rotation 1s 3 linear;
    transform-origin: 248px 561px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  svg:hover #flower9 {
    animation: rotation 1s 3 linear;
    transform-origin: 703px 673px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  svg:hover #flower10 {
    animation: rotation 1s 3 linear;
    transform-origin: 434px 307px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  svg:hover #flower11 {
    animation: rotation 1s 3 linear;
    transform-origin: 207px 165px;
}

      @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

